.pull-right
  = link_to "Create speech", new_speech_path, class: "btn btn-large" if can? :create, Speech
%h1 Speeches
%hr
.row-fluid
  .span1 &nbsp;
  .span10
    %ul.speeches
      - collection.each do |speech|
        %li
          .speech
            .row-fluid
              .span6
                .row-fluid.headings
                  .span4 Language
                  .span4 Setting
                  .span4 Topic
                .row-fluid.categories
                  .span4= speech.language
                  .span4= speech.setting
                  .span4= speech.topic
              .span6.center
                = link_to "Interpretation", new_speech_interpretation_path(speech), class: "btn" if can? :create, Interpretation
            .row-fluid.headings
              .span6 Context
            .row-fluid.context
              .span6= speech.context
            .row-fluid
              .span6
                .row-fluid.headings
                  .span4 Difficulty
                  .span4 Speed
                .row-fluid.categories
                  .span4= speech.difficulty
                  .span4= speech.speed