%ul.nav
  - if account_signed_in?
    %li
      .navbar-text
        = current_account.name
    %li.divider-vertical
    -# Add authorization conditional
    %li.dropdown{class: active_link_to_class("/admin")}
      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        Admin
        %b.caret
      %ul.dropdown-menu
        %li= link_to "Accounts", accounts_path
        %li.divider
        %li.nav-header Field Choice Lists
        = nav_link "Difficulty", difficulty_path
        = nav_link "Language", language_path
        = nav_link "Setting", setting_path
        = nav_link "Speed", speed_path
        = nav_link "Year of study", yearofstudy_path
    %li.divider-vertical

  - unless is_active_link? new_account_session_path
    %li= signin_signout_link