!!! 5
%html
  %head
    %title Speech Repo Demo
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container-fluid
          .pull-right
            = render 'layouts/user-menu'
          .pull-left
            .brand
              = link_to "Speech Repo Demo", root_path
          = render 'layouts/nav'
    .container-fluid
      - unless flash.empty?
        .row-fluid
          .span4 &nbsp;
          .span4
            - flash.each do |key, msg|
              %div.fade.in{class: "alert alert-#{key}"}
                %a.close{"data-dismiss" => "alert"} &times;
                = msg
      .row-fluid
        .span1 &nbsp;
        .span10
          = yield